repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac # frozen: v2.4.1
    hooks:
      - id: codespell
        args:
          - --exclude-file=./kmonad/odin/config.kbd
          - --exclude-file=./kmonad/phxl-BELO/config.kbd

  - repo: https://github.com/rhysd/actionlint
    rev: 0933c147c9d6587653d45fdcb4c497c57a65f9af # frozen: v1.7.10
    hooks:
      - id: actionlint

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 30e0e576b9d8e7e53fb02677bbd4ba1a49decc6b # frozen: 4.0.0
    hooks:
      - id: sqlfluff-fix

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 45ef068da5f21267bb2a7ec4a623092959f09ce5 # frozen: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 5419f5b504dd5329d26fdf936719cb3b08b3eadf # frozen: 0.9.28
    hooks:
      - id: uv-lock

  - repo: https://github.com/gitleaks/gitleaks
    rev: 2ca41cc1372d1e939a6a879f18cdc19fc1cac1ce # frozen: v8.30.0
    hooks:
      - id: gitleaks
